body {
    margin: 0px;
    background-color: #dce0e6;
    font-family: Arial, Helvetica, sans-serif;
}


        /* ------------------------------------------------Seccion de Navegacion--------------------------------------------- */
.header {
    background-color: #dce0e6;
    display: flex;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 1;
}
.header span{
    position: relative;
    top: 5px;
}
.hea-list {
    display: inline-flex;
    margin-left: 45%;
}
.hea-item {
    list-style: none;
    margin: 5px;
    padding-top: 10px;
    transition: all, 0.4s;
}
.hea-item a {
    text-decoration: none;
    font-size: 15px;
    color: #1f1f20;
}


.hea-login{
    background-color: #305F8B;
    list-style: none;
    margin-right: 20px;
    padding: 15px;
    transition: all, 0.4s; 
    border-radius: 10px;
    border: solid #305F8B;
}
.hea-login a{
    text-decoration: none;
    margin-top: 5px;
    color: #dce0e6;
    font-weight: bolder;
}

.logo{
    position: relative;
    left: 30px;
    bottom: 100px;
    width: 300px;
}
        /* ------------------------------------------------Seccion del menu--------------------------------------------- */
.menu {
    margin-top: 10px;
    font-weight: bolder;
    padding: 10px;
    padding-top: 30px;
    transition: all, 0.5s;
    cursor: pointer;
    position: absolute;
}
.menu span{
    position: relative;
    top: 5px;
}
.menu label{
        font-size: 30px;
}
#menu{
    position: absolute;
    display: none;
}
.menu-list {
    display: none;
    position: absolute;
    background-color: #dce0e6;
    border-right: #305F8B solid 1px;
    border-left: #305F8B solid 1px;
    width: 200px;
    height: 100vh;
    left: 5px;
    list-style: none;
    transition: all, 0.7s;
}
.menu-list li{
    margin: 3px;
    margin-top: 40px;
    padding: 10px;
}
.menu-list a{
    text-decoration: none;
    color: gray;
}
        /* ------------------------------------------------Seccion de contenido principal--------------------------------------------- */

.img-main img{
    position: relative;
    bottom: 20px;
    width: 100%;
    height: 100vh;
}

.img-text{
    position: absolute;
    color: #dce0e6;
    top: 200px;
    left: 100px;
    font-size: 30px;
    font-weight: lighter;
    animation: img-main 1s ease-in-out ;
}

.img-buttons{
    font-size: 20px;
}
.b1{
    text-decoration: none;
    color: #dce0e6;
    background-color: #2b4c7e;
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: 15px;
    transition: all,0.5s;
}
.b2{
    text-decoration: none;
    color: #2b4c7e;
    background-color: #dce0e6;
    padding: 10px 15px;
    margin-right: 20px;
    border-radius: 15px;
    transition: all,0.5s;
}

.b1:hover{
    padding: 15px 20px;
    box-shadow: 1px 1px 50px #ffffff2d;
}
.b2:hover{
    padding: 15px 20px;
    box-shadow: 1px 1px 50px #ffffff2d;
}

.content{
    background-color: #dce0e6;
    position: relative;
    bottom: 20px;
    padding: 40px 20px;
    font-size: 19px;
    letter-spacing: 1px;
    color: #1f1f20;
}

.acounts{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10%;
}
.title-c{
    color: #dce0e6;
    text-align: center;
    padding: 10px;
}

.acount span{
    font-size: 100px;
    box-shadow: 5px 5px 5px gray;
    background-color: #03325F;
    color: #dce0e6;
    border: solid #dce0e6;
    border-radius: 100%;
    margin-left: 2%;
}
.acount2 span{
    font-size: 100px;
    box-shadow: 5px 5px 5px gray;
    background-color: #03325F;
    border: solid #dce0e6;
    color: #dce0e6;
    border-radius: 100%;
    margin-left: 90%;
}

.coment{
    border: solid gray;
    background-color: #dce0e6;
    color: #1f1f20;
    position: absolute;
    left: 80px;
    padding: 10px;
    max-width: 500px;
    border-radius: 15px;
    border-top-left-radius: 0px;
}
.coment-2{
    border: solid gray;
    background-color: #dce0e6;
    color: #1f1f20;
    position: absolute;
    right: 80px;
    padding: 10px;
    max-width: 500px;
    border-radius: 15px;
    border-top-right-radius: 0px;
}

.cases{
    margin-left: 8%;
}
.cases-content{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.cases-content span{
    font-size: 50px;
    text-align: center;
    color: #2b4c7e;
}
.cases-content h2{
    color: #2b4c7e;
}

.card{
    background-color: #dce0e6;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    padding: 10px;
    color: #1f1f20;
    letter-spacing: 2px;
    transition: all, 0.5s;
    text-align: center;
    text-align: center;
    text-decoration: none;
}
.card h2{
    font-size: 18px;
}

.card span{
    position: relative;
    left: 0%;
    font-size: 100px;
}
        /* ------------------------------------------------Seccion de pie de pagina--------------------------------------------- */
.web-foot{
    background-image: url(/imagenes/footer-img.png);
    background-position: 5%;
    margin-top: 7%;
    position: absolute;
    border-top: solid #2b4c7e 5px;
    color: #dce0e6;
}

footer{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 40%;
    margin-top: 3%;
    font-weight: bolder;
}

.footer-info{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, rgba(12, 11, 11, 0.315), transparent);
    border-radius: 10px;
}

.fot-text{
    margin: 20px;
}

        /* ------------------------------------------------Seccion Visual de la web--------------------------------------------- */
.hea-item:hover{
    background-color: #dce0e6;
    border-radius: 5px;
    text-decoration: underline;
}

.hea-login:hover{
    background-color: white;
}
.hea-login:hover a {
    color: #03325F;
}


.menu:hover{
    background-color: rgb(230, 227, 227);
}
#menu:checked  + .menu-list{
    display: block;
}

.menu-list li a{
    transition: all, 0.5s;
}

.menu-list li:hover{
    background-color: #ebe4e4;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.menu-list li:hover a{
    color: #152E4C;
}

.card:hover{
    background-color: #2b4c7e;
    color: #ebe4e4;
    position: relative;
    padding-top: 15px;
}
.card:hover h2 {
    color: #ebe4e4;
}
.card:hover span{
    color: #ebe4e4;
}

         /* ------------------------------------------------Animaciones--------------------------------------------- */

@keyframes img-main{
    from{
        height: 80vh;
        opacity: 20%;
    }
    to{
        opacity: 100%;
    }
}






